@import url(./root.css);
@import url(./modal.css);
@import url(./thongbao.css);

body {
    background: linear-gradient(135deg, var(--color-04), var(--color-05));
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* font-family: 'Poppins', sans-serif; */
}

#ToanManHinh {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

#ToanManHinh:hover {
    background-color: #45a049;
}

.lab-header,
.lab-footer {
    background: var(--color-04);
    color: white;
    text-align: center;
    padding: 1rem;
}

.lab-main {
    flex: 1;
    padding: 2rem;
}

.lab-intro {
    text-align: center;
}

button {
    margin-top: 0.5rem;
    padding: 0.7rem 1.5rem;
    background: var(--color-02);
    border: none;
    border-radius: 10px;
    font-size: 1.1rem;
    cursor: pointer;
}

button:hover {
    background: var(--color-03);
}

ul#dsKhuVuc {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none;
    max-height: 500px;
    overflow-y: auto;
    padding: 0;
}

#dsKhuVuc .khuvuc-item{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    max-width: 250px;
    position: relative;
    margin-top: 8px;
}

span.khuvuc-stt{
    font-size: 1.2rem;
}

button.khuvuc-button{
    float: right;
    border-radius: 0;
    margin-top: 0;
}

p.khuvuc-diadiem,
p.khuvuc-slvirus{
    position: absolute;
    bottom: 12px;
    left: 12px;
    color: white;
}
p.khuvuc-diadiem{
    bottom: calc(12px + 22px);
}

img.khuvuc-anh {
    width: 100%;
}


#chon-virus {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 22;
    padding: 20px;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
  }
  
  
  
  .virus-btn {
    position: absolute;
    background-color: red;
    color: white;
    padding: 10px;
    margin-top: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
  }